* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
}

header {
    color: white;
    background-color: #7b42a9;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(221, 215, 215);
    padding: 20px;
}

.brand-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-lists {
    display: flex;
}

.nav-list {
    margin: 0 5px;
    list-style: none;
}

.nav-link {
    font-size: 22px;
    padding: 0 5px;
    color: rgb(246, 235, 235);
    font-weight: 400;
}

main {
    width: 60%;
    margin: auto;
}

h1,
h2 {
    margin: 20px;
    font-weight: 300;
}

.container {
    padding: 20px;
    margin: auto;
}

.tech-lists {
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
}

textarea {
    max-width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid;
    border-radius: 10px;
    outline: 1px solid #a053df73;
    border: 1px solid #a053df73;
    margin: 10px 0;
}

input:not([type=checkbox]):not([type=radio]):hover,
select:hover {
    border: 1px solid #a053df73;
}

input:not([type=checkbox]):not([type=radio]),
select {
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    outline: 1px solid #a053df73;
    border: 1px solid #a053df73;
    font-size: 18px;
}

btn:active,
.btn:focus,
.btn:hover {
    color: white;
    font-weight: 600;
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: #a053df;
}

.btn {
    padding: 12px 0;
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid #a053df;
    min-width: 150px;
    max-width: 250px;
    border-radius: 5px;
    transition: background-color 1s;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    word-spacing: 5px;
    text-align: justify;
}

table {
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

thead tr th {
    background: #7b42a9;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 15px;
    color: #bbb;
}

tbody tr,
tbody td {
    padding: 0.625em;
    text-align: center;
}

.result-par {
    margin: 10px 0;
    padding-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.form-group label {
    margin-bottom: 5px;
}