{% extends 'base.html' %}

{% block head %}
<title>30 Days of Python - Home</title>
{% endblock %}

{% block body %}
{% block content %}
<div class="container">
    <h1>Welcome to the {{name}}</h1>
    <p>This application analyses the number of words, characters, most frequent words and word variety (lexical density)
        in the text. Check it out by clicking text analyzer at the menu. You need the following technologies to build
        this web application:</p>

    <ul class="tech-lists">
        {% for tech in techs %}
        <li>{{ tech }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
{% endblock %}