<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="menu-container">
            <div>
                <a class="brand-name nav-link" href="/">30DaysOfPython</a>
            </div>

            <ul class="nav-lists">

                <li class="nav-list">
                    <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
                </li>

                <li class="nav-list">
                    <a class="nav-link active" href="{{ url_for('about') }}">About</a>
                </li>

                <li class="nav-lists">
                    <a href="{{url_for('student')}}" class="nav-link active">Student</a>
                </li>

                <li class="nav-list">
                    <a class="nav-link active" href="{{ url_for('post') }}">Text Analyzer</a>
                </li>

                <li class="nav-list">
                    <a class="nav-link active" href="{{ url_for('api') }}">API</a>
                </li>

                <li class="nav-list">
                    <a class="nav-link active" href="{{ url_for('join') }}">Join</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>

</html>